@keyframes rotating {
	 0% {
		 transform: rotate(45deg);
	}
	 10% {
		 transform: rotate(45deg);
	}
	 100% {
		 transform: rotate(765deg);
	}
}
 @keyframes rotating-ass {
	 0% {
		 transform: rotate(-65deg);
	}
	 90% {
		 transform: rotate(655deg);
	}
	 100% {
		 transform: rotate(655deg);
	}
}
 @keyframes mouth {
	 0% {
		 height: 0px;
		 border-weight: 0;
	}
	 16% {
		 height: 0px;
		 border-weight: 0;
	}
	 30% {
		 height: 2px;
		 border-weight: 3px;
	}
	 50% {
		 height: 2px;
		 border-weight: 3px;
	}
	 100% {
		 height: 0px;
		 border-weight: 0;
	}
}
 body {
	 background-color: #e6dcdc;
}
 #information {
	 position: fixed;
	 right: 2em;
	 bottom: 2em;
	 font-size: 14px;
	 font-family: 'Open Sans Condensed', sans-serif;
	 text-align: right;
}
 #information a {
	 color: #ae651c;
	 text-decoration: none;
}
 #information p {
	 margin: 0;
	 margin-top: 0.5em;
}
 #wrapper {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 width: 300px;
	 height: 300px;
	 padding: 50px;
	 background: #e6dcdc;
	 transform: translate(-50%, -50%);
}
 #cat-mask {
	 position: relative;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 width: 250px;
	 height: 250px;
	 border-radius: 50%;
}
 #cat {
	 position: relative;
	 width: 250px;
	 height: 250px;
	 border: 5px solid #323246;
	 border-radius: 50%;
}
 #cat .shape-mask {
	 position: absolute;
	 width: 270px;
	 height: 135px;
	 top: -10px;
	 left: -10px;
	 border-radius: 135px 135px 0 0;
	 background: #e6dcdc;
	 transform-origin: center bottom;
	 transform: rotate(-65deg);
	 animation-name: rotating-ass;
	 animation-duration: 2.79s;
	 animation-direction: reverse;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
}
 #cat .shape-mask.second {
	 transform: rotate(45deg);
	 animation-name: rotating;
	 animation-duration: 2.79s;
	 animation-direction: reverse;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
}
 #cat .body-up, #cat .body-down {
	 width: 250px;
	 height: 125px;
	 border-radius: 125px 125px 0 0;
	 background: #e6a564;
}
 #cat .body-down {
	 transform: rotate(180deg);
}
 #cat .body-inside {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 width: 220px;
	 height: 220px;
	 border-radius: 50%;
	 background: #f0be78;
}
 #cat .body-inside-wrapper {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 transform: rotate(-65deg);
	 animation-name: rotating-ass;
	 animation-duration: 2.79s;
	 animation-direction: reverse;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
}
 #cat .body-inside-wrapper-end {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 transform: rotate(45deg);
	 animation-name: rotating;
	 animation-duration: 2.79s;
	 animation-direction: reverse;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
}
 #cat .body-inside-fix {
	 position: absolute;
	 top: 50%;
	 left: 10px;
	 width: 50px;
	 height: 50px;
	 transform: translateY(-50%);
	 background: #e6a564;
}
 #cat .body-inside-fix.end {
	 left: auto;
	 right: 10px;
}
 #cat .body-inside-fix.end:after {
	 left: auto;
	 right: 9px;
}
 #cat .body-inside-fix:after {
	 content: " ";
	 position: absolute;
	 top: 36px;
	 left: 9px;
	 display: block;
	 width: 25px;
	 height: 25px;
	 border-radius: 50%;
	 background: #f0be78;
}
 #cat .body-mask {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 width: 170px;
	 height: 170px;
	 border-radius: 50%;
	 background: #e6a564;
}
 #cat .cat-head-wrapper {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 transform: rotate(45deg);
	 animation-name: rotating;
	 animation-duration: 2.79s;
	 animation-direction: reverse;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
}
 #cat .cat-head {
	 position: absolute;
	 top: 91px;
	 right: -5px;
	 width: 55px;
	 height: 30px;
	 border: 5px solid #323246;
	 border-bottom: none;
	 border-radius: 5px 5px 0 0;
	 background: #e6a564;
}
 #cat .cat-ear {
	 position: absolute;
	 top: 81px;
	 right: 43px;
	 width: 7px;
	 height: 10px;
	 border: 5px solid #323246;
	 border-bottom: none;
	 border-radius: 5px 20px 0 0;
	 background: #e6a564;
}
 #cat .cat-ear.right {
	 right: -5px;
	 border-radius: 20px 5px 0 0;
}
 #cat .cat-eye {
	 position: absolute;
	 top: 10px;
	 left: 11px;
	 width: 5px;
	 height: 6px;
	 border-radius: 50%;
	 background: #323246;
}
 #cat .cat-eye.right {
	 left: 39px;
}
 #cat .cat-mouth-wrapper {
	 position: absolute;
	 top: 23px;
	 left: 23px;
}
 #cat .cat-mouth {
	 position: absolute;
	 top: 0px;
	 left: 2px;
	 width: 2px;
	 height: 3px;
	 border: 2px solid #323246;
	 border-top: none;
	 border-radius: 0 0 5px 5px;
	 animation-name: mouth;
	 animation-duration: 2.79s;
	 animation-direction: reverse;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
}
 #cat .cat-mouth-up {
	 position: absolute;
	 top: -3px;
	 left: 0;
	 width: 1px;
	 height: 2px;
	 border: 2px solid #323246;
	 border-top: none;
	 border-radius: 0 0 5px 5px;
}
 #cat .cat-mouth-up.right {
	 left: 5px;
}
 #cat .cat-beard {
	 position: absolute;
	 top: 0;
	 left: -33px;
	 height: 1px;
	 width: 15px;
	 border-top: 2px solid #323246;
	 border-radius: 15px;
	 background: black;
}
 #cat .cat-beard.right {
	 left: auto;
	 right: -43px;
}
 #cat .cat-beard.up {
	 top: -5px;
	 transform: rotate(5deg);
}
 #cat .cat-beard.up.right {
	 transform: rotate(-5deg);
}
 #cat .cat-beard.down {
	 top: 5px;
	 transform: rotate(-5deg);
}
 #cat .cat-beard.down.right {
	 transform: rotate(5deg);
}
 #cat .cat-hand {
	 position: absolute;
	 top: 155px;
	 right: 5px;
	 width: 13px;
	 height: 30px;
	 transform: rotate(21deg);
	 border: 5px solid #323246;
	 border-top: none;
	 border-radius: 0 5px 15px 15px;
	 background: #e6a564;
}
 #cat .cat-hand.right {
	 top: 140px;
	 right: 45px;
}
 #cat .cat-ass-wrapper {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 transform: rotate(-65deg);
	 animation-name: rotating-ass;
	 animation-duration: 2.79s;
	 animation-direction: reverse;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
}
 #cat .cat-leg {
	 position: absolute;
	 top: 95px;
	 left: -5px;
	 width: 13px;
	 height: 30px;
	 border: 5px solid #323246;
	 border-bottom: none;
	 border-radius: 15px 15px 0 0;
	 background: #e6a564;
}
 #cat .cat-leg.right {
	 left: auto;
	 right: 190px;
}
 #cat .cat-ass {
	 position: absolute;
	 top: 115px;
	 left: 13px;
	 width: 18px;
	 height: 5px;
	 border: 5px solid #323246;
	 border-bottom: none;
	 border-radius: 30px 30px 0 0;
	 background: #e6a564;
}
 #cat .cat-tail {
	 position: absolute;
	 top: 75px;
	 left: 17px;
	 width: 12px;
	 height: 40px;
	 border: 5px solid #323246;
	 border-bottom: none;
	 border-radius: 20px 20px 0 0;
	 background: #be8250;
}
 #cat .inner-mask {
	 position: absolute;
	 box-sizing: border-box;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 width: 140px;
	 height: 140px;
	 border: 5px solid #323246;
	 border-radius: 50%;
	 background: #e6dcdc;
}
 