@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#file-upload {
  position: absolute;
  left: -9999px;
  font-family: 'Poppins', sans-serif;
}

.filenameLabel{
    padding:0.1em;  
    font-family: 'Poppins', sans-serif;
    display:inline-block;
    background-image: linear-gradient(to right,pink, lightblue);
    cursor:pointer;
    color: #333;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Poppins',sans-serif;
    border:none;
    padding: 0.4em;
    border-radius: 5px;
    font-weight: 700;
    outline:none;
}
.filenameLabel:hover {
  background-image: linear-gradient(to right,lightblue, pink);
  box-shadow: 0px 0px 3px #fff;
}
.filenameLabel:hover{
  background-image: linear-gradient(to left, pink, lightblue);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Poppins',sans-serif;
}
#filename{
  padding: 0.17em;
  /* float: left; */
  /* width: 150px; */
  white-space: nowrap;
  overflow: hidden;
  background: transparent;
  font-family: 'Poppins', sans-serif;
  border: solid 1px #a5a5a5;
  /* font-weight: 700; */
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Poppins',sans-serif;
  color: #555;
}

@keyframes rotating {
	 0% {
		 transform: rotate(45deg);
	}
	 10% {
		 transform: rotate(45deg);
	}
	 100% {
		 transform: rotate(765deg);
	}
}
 @keyframes rotating-ass {
	 0% {
		 transform: rotate(-65deg);
	}
	 90% {
		 transform: rotate(655deg);
	}
	 100% {
		 transform: rotate(655deg);
	}
}
 @keyframes mouth {
	 0% {
		 height: 0px;
		 border-weight: 0;
	}
	 16% {
		 height: 0px;
		 border-weight: 0;
	}
	 30% {
		 height: 2px;
		 border-weight: 3px;
	}
	 50% {
		 height: 2px;
		 border-weight: 3px;
	}
	 100% {
		 height: 0px;
		 border-weight: 0;
	}
}
 body {
	 background-color: #e6dcdc;
}
 #information {
	 position: fixed;
	 right: 2em;
	 bottom: 2em;
	 font-size: 14px;
	 font-family: 'Open Sans Condensed', sans-serif;
	 text-align: right;
}
 #information a {
	 color: #ae651c;
	 text-decoration: none;
}
 #information p {
	 margin: 0;
	 margin-top: 0.5em;
}
 #wrapper {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 width: 300px;
	 height: 300px;
	 padding: 50px;
	 /* background: #e6dcdc;ß */
	 transform: translate(-50%, -50%);
}
 #cat-mask {
	 position: relative;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 width: 250px;
	 height: 250px;
	 border-radius: 50%;
}
 #cat {
	 position: relative;
	 width: 250px;
	 height: 250px;
	 border: 5px solid #323246;
	 border-radius: 50%;
}
 #cat .shape-mask {
	 position: absolute;
	 width: 270px;
	 height: 135px;
	 top: -10px;
	 left: -10px;
	 border-radius: 135px 135px 0 0;
	 background: #e6dcdc;
	 transform-origin: center bottom;
	 transform: rotate(-65deg);
	 animation-name: rotating-ass;
	 animation-duration: 2.79s;
	 animation-direction: reverse;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
}
 #cat .shape-mask.second {
	 transform: rotate(45deg);
	 animation-name: rotating;
	 animation-duration: 2.79s;
	 animation-direction: reverse;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
}
 #cat .body-up, #cat .body-down {
	 width: 250px;
	 height: 125px;
	 border-radius: 125px 125px 0 0;
	 background: #e6a564;
}
 #cat .body-down {
	 transform: rotate(180deg);
}
 #cat .body-inside {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 width: 220px;
	 height: 220px;
	 border-radius: 50%;
	 background: #f0be78;
}
 #cat .body-inside-wrapper {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 transform: rotate(-65deg);
	 animation-name: rotating-ass;
	 animation-duration: 2.79s;
	 animation-direction: reverse;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
}
 #cat .body-inside-wrapper-end {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 transform: rotate(45deg);
	 animation-name: rotating;
	 animation-duration: 2.79s;
	 animation-direction: reverse;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
}
 #cat .body-inside-fix {
	 position: absolute;
	 top: 50%;
	 left: 10px;
	 width: 50px;
	 height: 50px;
	 transform: translateY(-50%);
	 background: #e6a564;
}
 #cat .body-inside-fix.end {
	 left: auto;
	 right: 10px;
}
 #cat .body-inside-fix.end:after {
	 left: auto;
	 right: 9px;
}
 #cat .body-inside-fix:after {
	 content: " ";
	 position: absolute;
	 top: 36px;
	 left: 9px;
	 display: block;
	 width: 25px;
	 height: 25px;
	 border-radius: 50%;
	 background: #f0be78;
}
 #cat .body-mask {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 width: 170px;
	 height: 170px;
	 border-radius: 50%;
	 background: #e6a564;
}
 #cat .cat-head-wrapper {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 transform: rotate(45deg);
	 animation-name: rotating;
	 animation-duration: 2.79s;
	 animation-direction: reverse;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
}
 #cat .cat-head {
	 position: absolute;
	 top: 91px;
	 right: -5px;
	 width: 55px;
	 height: 30px;
	 border: 5px solid #323246;
	 border-bottom: none;
	 border-radius: 5px 5px 0 0;
	 background: #e6a564;
}
 #cat .cat-ear {
	 position: absolute;
	 top: 81px;
	 right: 43px;
	 width: 7px;
	 height: 10px;
	 border: 5px solid #323246;
	 border-bottom: none;
	 border-radius: 5px 20px 0 0;
	 background: #e6a564;
}
 #cat .cat-ear.right {
	 right: -5px;
	 border-radius: 20px 5px 0 0;
}
 #cat .cat-eye {
	 position: absolute;
	 top: 10px;
	 left: 11px;
	 width: 5px;
	 height: 6px;
	 border-radius: 50%;
	 background: #323246;
}
 #cat .cat-eye.right {
	 left: 39px;
}
 #cat .cat-mouth-wrapper {
	 position: absolute;
	 top: 23px;
	 left: 23px;
}
 #cat .cat-mouth {
	 position: absolute;
	 top: 0px;
	 left: 2px;
	 width: 2px;
	 height: 3px;
	 border: 2px solid #323246;
	 border-top: none;
	 border-radius: 0 0 5px 5px;
	 animation-name: mouth;
	 animation-duration: 2.79s;
	 animation-direction: reverse;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
}
 #cat .cat-mouth-up {
	 position: absolute;
	 top: -3px;
	 left: 0;
	 width: 1px;
	 height: 2px;
	 border: 2px solid #323246;
	 border-top: none;
	 border-radius: 0 0 5px 5px;
}
 #cat .cat-mouth-up.right {
	 left: 5px;
}
 #cat .cat-beard {
	 position: absolute;
	 top: 0;
	 left: -33px;
	 height: 1px;
	 width: 15px;
	 border-top: 2px solid #323246;
	 border-radius: 15px;
	 background: black;
}
 #cat .cat-beard.right {
	 left: auto;
	 right: -43px;
}
 #cat .cat-beard.up {
	 top: -5px;
	 transform: rotate(5deg);
}
 #cat .cat-beard.up.right {
	 transform: rotate(-5deg);
}
 #cat .cat-beard.down {
	 top: 5px;
	 transform: rotate(-5deg);
}
 #cat .cat-beard.down.right {
	 transform: rotate(5deg);
}
 #cat .cat-hand {
	 position: absolute;
	 top: 155px;
	 right: 5px;
	 width: 13px;
	 height: 30px;
	 transform: rotate(21deg);
	 border: 5px solid #323246;
	 border-top: none;
	 border-radius: 0 5px 15px 15px;
	 background: #e6a564;
}
 #cat .cat-hand.right {
	 top: 140px;
	 right: 45px;
}
 #cat .cat-ass-wrapper {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 transform: rotate(-65deg);
	 animation-name: rotating-ass;
	 animation-duration: 2.79s;
	 animation-direction: reverse;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
}
 #cat .cat-leg {
	 position: absolute;
	 top: 95px;
	 left: -5px;
	 width: 13px;
	 height: 30px;
	 border: 5px solid #323246;
	 border-bottom: none;
	 border-radius: 15px 15px 0 0;
	 background: #e6a564;
}
 #cat .cat-leg.right {
	 left: auto;
	 right: 190px;
}
 #cat .cat-ass {
	 position: absolute;
	 top: 115px;
	 left: 13px;
	 width: 18px;
	 height: 5px;
	 border: 5px solid #323246;
	 border-bottom: none;
	 border-radius: 30px 30px 0 0;
	 background: #e6a564;
}
 #cat .cat-tail {
	 position: absolute;
	 top: 75px;
	 left: 17px;
	 width: 12px;
	 height: 40px;
	 border: 5px solid #323246;
	 border-bottom: none;
	 border-radius: 20px 20px 0 0;
	 background: #be8250;
}
 #cat .inner-mask {
	 position: absolute;
	 box-sizing: border-box;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 width: 140px;
	 height: 140px;
	 border: 5px solid #323246;
	 border-radius: 50%;
	 background: #e6dcdc;
}
 
img[tab="giftab"]{
		animation: UpDown 1s linear infinite;
}

    @keyframes UpDown {
      0% {
        bottom: 0;
      }
      50% {
        bottom: 2em;
      }
      100% {
        bottom: 0;
      }
    }
		@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap");


.button {
  float: left;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
@media(max-width:991px){
	    /* float: left; */
			.button{
				float: unset;
  width: 60px;
    height: 60px;
    margin: 5px 0px;
			}
  
}

.button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
}

.button:hover {
  width: 200px;
}

.button:nth-child(1):hover.icon {
  background: #e1306c;

}

.button:nth-child(2):hover.icon {
  background: #4267b2;
}

.button:nth-child(3):hover.icon {
  background: #1da1f2;
}

.button:nth-child(4):hover.icon {
  background: #0e76a8;
}

.button:nth-child(5):hover.icon {
  background: #ff0000;
}

.button:nth-child(6):hover.icon {
  background: #333;
}

.button:nth-child(1) span {
  color: #e1306c;
		margin-left: 20px;	
}

.button:nth-child(2) span {
  color: #4267b2;
}

.button:nth-child(3) span {
  color: #1da1f2;
}

.button:nth-child(4) span {
  color: #0e76a8;
}

.button:nth-child(5) span {
  color: #ff0000;
}

.button:nth-child(6) span {
  color: #333;
}

.button.icon {
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50px;
  display: inline - block;
  transition: all 0.3s ease-in-out;
}

.button.icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-in-out;
}

.button:hover i {
  color: #fff;
}

.gitHub{
	    display: flex;
    align-items: center;
    color: #000;
    /* justify-content: center; */
    font-size: 2em;
    padding-left: 10px;
}
.envelope{
	  display: flex;
    align-items: center;
    color: #000;
    /* justify-content: center; */
   font-size: 1.7em;
    padding-left: 10px;
}
.linkedin{
	 display: flex;
    align-items: center;
    color: #000;
    /* justify-content: center; */
    font-size: 1.7em;
    padding-left: 15px;
}
.facebook{
	 display: flex;
    align-items: center;
    color: #000;
    /* justify-content: center; */
    font-size: 1.7em;
    padding-left: 15px;
}
.gitHub i::before,
.envelope i::before,
.linkedin i::before,
.facebook i::before{
	color: #000;
}

.gitHub i, .envelope i, .linkedin i, .facebook i{
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
.gitHub:hover i,
.envelope:hover i,
.linkedin:hover i,
.facebook:hover i {
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
}