@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#file-upload {
  position: absolute;
  left: -9999px;
  font-family: 'Poppins', sans-serif;
}

.filenameLabel[for="file-upload"]{
    padding:0.1em;  
    font-family: 'Poppins', sans-serif;
    display:inline-block;
    background-image: linear-gradient(to right,pink, lightblue);
    cursor:pointer;
    color: #333;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Poppins',sans-serif;
}
.filenameLabel:hover{
  background-image: linear-gradient(to left, pink, lightblue);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Poppins',sans-serif;
}
#filename{
  padding: 0.17em;
  /* float: left; */
  /* width: 150px; */
  white-space: nowrap;
  overflow: hidden;
  background: transparent;
  font-family: 'Poppins', sans-serif;
  border: solid 1px #a5a5a5;
  /* font-weight: 700; */
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Poppins',sans-serif;
  color: #555;
}